.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App{
    max-width: 500px;
    padding: 2vw 2vw;
    margin: auto;
    background-color: #FCFFD3;
    color: rgb(71, 71, 121);
    border-radius: 5px;
}
.taskBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.App h2{
    margin-bottom: 20px;
}
.App h3{
    margin-top: 10px;
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
    visibility: hidden;
}
